body {
    background-color: rgb(39, 39, 39);
    font-family: Arial, Helvetica, sans-serif;
}

.toolbar {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(39, 39, 39);
    background-color: rgb(156, 168, 175);
    margin: 10px;
    border-radius: 21px;
    transition: .25s;
}

.small {
    height: 42px;
    width: 42px;
}

.small:hover {
    transform: scale(1.2);
    background-color: rgb(184, 199, 208);
}

.big {
    height: 380px;
    width: 64px;
    border-radius: 32px;
    background-color: rgb(184, 199, 208);
}

.colors {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transition: .1s;
    
}

.colors.close.shown {
   background-color: rgb(184, 199, 208);
}

.colors:hover {
    transform: translateY(-5px)
}

.hidden {
    display: none;
}

.shown#one {
    background-color: rgb(219, 0, 0);
}

.shown#two {
    background-color: rgb(238, 107, 0);
}

.shown#three {
    background-color: rgb(255, 242, 0);
}

.shown#four {
    background-color: rgb(7, 213, 0);
}

.shown#five {
    background-color: rgb(0, 64, 255);
}

.shown#six {
    background-color: rgb(85, 0, 128);
}

.shown#seven {
    background-color: black;
}

.rgb {
    margin: 10px;
    flex: auto;
    transition: .225s;
}

.rgb:hover {

}

input {
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

#clearBtn {
    margin: 30px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;

}

button {
    background-color: rgb(39, 39, 39);
    border: 2px solid rgb(229, 229, 229);
    margin: 10px;
    color: white;
    width: 64px;
    height: 25px;
    border-radius: 8px;
}

button:hover {
    background-color: rgb(61, 61, 61);
}

.gridContainer {
    display: grid;
    margin-left: 30px;
    margin-right: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    background-color: white;
}

.gridItem:hover {
    background-color: rgb(235, 235, 235);
    border: gray;
    
}

.colored {
    background-color: black;
}